.main {
    display: flex;
}

.content, .sidebar, .messages {
    padding: 10px;
}

.content {
    border: 1px solid #656565;
    background-color: #f0f0f0;
    flex-grow: 1;
}

.sidebar {
    flex-grow: 0;
    width: 200px;
    border: 1px solid #656565;
    background-color: #ffcfa7;
}
.sidebar ul {
    list-style: none;
}

.status {
    border: 1px solid #656565;
    background-color: #a2fff4;
    text-align: end;
    margin-top: 50px;
    padding: 10px;
}
.status #clock {
    font-size: 12px;
}
